# Invoice Preprocessing

In this notebook, ```invoice_history``` is preprocessed into a new table with the index ```PARTY_ID``` + derived features from original ```invoice_history```.

In [68]:
import numpy as np
import pandas as pd

In [69]:
df = pd.read_csv('data/invoice_history.csv')

In [83]:
df

,Unnamed: 0,INVOICE_ID,PARTY_ID,CURRENCY,TAXEXCLUSIVEAMOUNT,TAXINCLUSIVEAMOUNT,PAYABLEAMOUNT,ISSUEDATE,TAXPOINTDATE,DUEDATE
0,0,214341229,233824028,HUF,838701.0,1065150.0,1065150.0,2017-05-01,2017-05-01,2017-05-08
1,1,214464014,233824108,HUF,175000.0,222250.0,222250.0,2017-05-05,2017-05-31,2017-06-05
2,2,215035971,233824067,EUR,510.0,647.7,647.7,2017-05-07,2017-05-07,2017-05-15
3,3,215035983,233824067,EUR,130.0,165.1,165.1,2017-05-07,2017-05-07,2017-05-15
4,4,215035988,233824067,HUF,40581.0,51538.0,51538.0,2017-05-07,2017-05-07,2017-05-15
...,...,...,...,...,...,...,...,...,...,...
636909,636909,685206566,250603794,HUF,919926.0,1168306.0,1168306.0,2020-10-20,2020-10-20,2020-11-04
636910,636910,685206567,594633811,HUF,-36800.0,-46736.0,-46736.0,2020-10-20,2020-10-19,2020-11-03
636911,636911,685206568,591638361,HUF,1740000.0,2209800.0,2209800.0,2020-10-20,2020-10-26,2020-10-26
636912,636912,685206569,618230015,HUF,16860.0,16860.0,16860.0,2020-10-20,2020-10-20,2020-10-20
636913,636913,685206570,240983562,HUF,150000.0,190500.0,190500.0,2020-10-20,2020-10-20,2020-11-04

### Create invoice_period feature

In [88]:
invoice_period = (df['DUEDATE'] - df['ISSUEDATE']).dt.days
invoice_period

0          7
1         31
2          8
3          8
4          8
          ..
636909    15
636910    14
636911     6
636912     0
636913    15
Length: 636914, dtype: int64

In [70]:
df.CURRENCY.value_counts()

HUF    609262
EUR     26453
USD       959
GBP       171
CHF        35
CAD        12
SEK         9
PLN         6
RON         4
CNY         3
Name: CURRENCY, dtype: int64

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636914 entries, 0 to 636913
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          636914 non-null  int64
 1   INVOICE_ID          636914 non-null  int64
 2   PARTY_ID            636914 non-null  int64
 3   CURRENCY            636914 non-null  object
 4   TAXEXCLUSIVEAMOUNT  636914 non-null  float64
 5   TAXINCLUSIVEAMOUNT  636914 non-null  float64
 6   PAYABLEAMOUNT       636914 non-null  float64
 7   ISSUEDATE           636914 non-null  object
 8   TAXPOINTDATE        636914 non-null  object
 9   DUEDATE             636914 non-null  object
dtypes: float64(3), int64(3), object(4)
memory usage: 48.6+ MB

In [9]:
df.DUEDATE

0        2017-05-08
1        2017-06-05
2        2017-05-15
3        2017-05-15
4        2017-05-15
            ...
636909   2020-11-04
636910   2020-11-03
636911   2020-10-26
636912   2020-10-20
636913   2020-11-04
Name: DUEDATE, Length: 636914, dtype: datetime64[ns]

### Converting Dates to DateTime

In [72]:
df['DUEDATE'] = pd.to_datetime(df['DUEDATE'], format='%Y-%m-%d')

In [73]:
df['ISSUEDATE'] = pd.to_datetime(df['ISSUEDATE'], format='%Y-%m-%d')

In [74]:
df['TAXPOINTDATE'] = pd.to_datetime(df['TAXPOINTDATE'], format='%Y-%m-%d')

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636914 entries, 0 to 636913
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          636914 non-null  int64
 1   INVOICE_ID          636914 non-null  int64
 2   PARTY_ID            636914 non-null  int64
 3   CURRENCY            636914 non-null  object
 4   TAXEXCLUSIVEAMOUNT  636914 non-null  float64
 5   TAXINCLUSIVEAMOUNT  636914 non-null  float64
 6   PAYABLEAMOUNT       636914 non-null  float64
 7   ISSUEDATE           636914 non-null  datetime64[ns]
 8   TAXPOINTDATE        636914 non-null  datetime64[ns]
 9   DUEDATE             636914 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(3), int64(3), object(1)
memory usage: 48.6+ MB

In [76]:
customer_highest_inv_count = df.loc[df.PARTY_ID == 233823853]

In [77]:
customer_highest_inv_count['TAXINCLUSIVEAMOUNT'].sum()

173913168.0

In [78]:
#1.369479e+08
customer_highest_inv_count['TAXEXCLUSIVEAMOUNT'].sum()

136947880.0

In [79]:
customer_highest_inv_count['PAYABLEAMOUNT'].sum()

173913168.0

In [80]:
# df = df.drop(columns=['CURRENCY'])
# df.info()

In [17]:
df.ISSUEDATE.max()

Timestamp('2020-10-23 00:00:00')

In [18]:
df.ISSUEDATE.min()

Timestamp('2016-04-20 00:00:00')

In [19]:
df.DUEDATE.max()

Timestamp('2029-12-17 00:00:00')

In [21]:
df.DUEDATE.min()

Timestamp('2008-07-22 00:00:00')

### Converting CURRENCY into ONE-HOT ENCODING

In [82]:
curr_encoding = pd.get_dummies(df.CURRENCY, prefix='CURRENCY')
curr_encoding.index

RangeIndex(start=0, stop=636914, step=1)

In [90]:
#merging currencies encoding with original df
merged = pd.merge(df, curr_encoding, left_index=True, right_index=True)
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636914 entries, 0 to 636913
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          636914 non-null  int64
 1   INVOICE_ID          636914 non-null  int64
 2   PARTY_ID            636914 non-null  int64
 3   CURRENCY            636914 non-null  object
 4   TAXEXCLUSIVEAMOUNT  636914 non-null  float64
 5   TAXINCLUSIVEAMOUNT  636914 non-null  float64
 6   PAYABLEAMOUNT       636914 non-null  float64
 7   ISSUEDATE           636914 non-null  datetime64[ns]
 8   TAXPOINTDATE        636914 non-null  datetime64[ns]
 9   DUEDATE             636914 non-null  datetime64[ns]
 10  CURRENCY_CAD        636914 non-null  uint8
 11  CURRENCY_CHF        636914 non-null  uint8
 12  CURRENCY_CNY        636914 non-null  uint8
 13  CURRENCY_EUR        636914 non-null  uint8
 14  CURRENCY_GBP        636914 non-null  uint8
 15  CURRENCY_HUF        636914 non-null  uint8
 16  CURRENCY_PLN        636914 non-null  uint8
 17  CURRENCY_RON        636914 non-null  uint8
 18  CURRENCY_SEK        636914 non-null  uint8
 19  CURRENCY_USD        636914 non-null  uint8
dtypes: datetime64[ns](3), float64(3), int64(3), object(1), uint8(10)
memory usage: 54.7+ MB

In [105]:
#merge latest df with invoice period feature
merged = pd.merge(merged, invoice_period.to_frame(), left_index=True, right_index=True)

In [113]:
# mm= merged.rename(columns={0: 'inv_period'})
# mm.info()
final = mm
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636914 entries, 0 to 636913
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          636914 non-null  int64
 1   INVOICE_ID          636914 non-null  int64
 2   PARTY_ID            636914 non-null  int64
 3   CURRENCY            636914 non-null  object
 4   TAXEXCLUSIVEAMOUNT  636914 non-null  float64
 5   TAXINCLUSIVEAMOUNT  636914 non-null  float64
 6   PAYABLEAMOUNT       636914 non-null  float64
 7   ISSUEDATE           636914 non-null  datetime64[ns]
 8   TAXPOINTDATE        636914 non-null  datetime64[ns]
 9   DUEDATE             636914 non-null  datetime64[ns]
 10  CURRENCY_CAD        636914 non-null  uint8
 11  CURRENCY_CHF        636914 non-null  uint8
 12  CURRENCY_CNY        636914 non-null  uint8
 13  CURRENCY_EUR        636914 non-null  uint8
 14  CURRENCY_GBP        636914 non-null  uint8
 15  CURRENCY_HUF        636914 non-null  uint8
 16  CURRENCY_PLN        636914 non-null  uint8
 17  CURRENCY_RON        636914 non-null  uint8
 18  CURRENCY_SEK        636914 non-null  uint8
 19  CURRENCY_USD        636914 non-null  uint8
 20  inv_period          636914 non-null  int64
dtypes: datetime64[ns](3), float64(3), int64(4), object(1), uint8(10)
memory usage: 59.5+ MB

## Grouping Transformations

In [115]:
#Max Invoice Period
max_inv_period = final.groupby(['PARTY_ID'])['inv_period'].max()
max_inv_period

PARTY_ID
233823838    61
233823840    56
233823841    71
233823849    45
233823853    31
             ..
685196737    30
685208615     8
685219699     3
685219700     5
685219703     0
Name: inv_period, Length: 4974, dtype: int64

In [116]:
#Minimum Invoice Period
min_inv_period = final.groupby(['PARTY_ID'])['inv_period'].min()
min_inv_period

PARTY_ID
233823838    -29
233823840    -29
233823841      0
233823849    -50
233823853   -228
            ...
685196737     30
685208615      8
685219699      3
685219700      4
685219703      0
Name: inv_period, Length: 4974, dtype: int64

In [85]:
#Currency Merged one-hot encoding by PARTY_ID
curr_merged =merged[["PARTY_ID", "CURRENCY_CAD", "CURRENCY_CHF", "CURRENCY_CNY", "CURRENCY_EUR", "CURRENCY_GBP", "CURRENCY_HUF", "CURRENCY_PLN", "CURRENCY_RON","CURRENCY_SEK","CURRENCY_USD"]].groupby('PARTY_ID').max()  
curr_merged

,CURRENCY_CAD,CURRENCY_CHF,CURRENCY_CNY,CURRENCY_EUR,CURRENCY_GBP,CURRENCY_HUF,CURRENCY_PLN,CURRENCY_RON,CURRENCY_SEK,CURRENCY_USD
PARTY_ID,,,,,,,,,,
233823838,0,0,0,0,0,1,0,0,0,0
233823840,0,0,0,1,0,1,0,0,0,0
233823841,0,0,0,0,0,1,0,0,0,0
233823849,0,0,0,1,0,1,0,0,0,0
233823853,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
685196737,0,0,0,0,0,1,0,0,0,0
685208615,0,0,0,0,0,1,0,0,0,0
685219699,0,0,0,0,0,1,0,0,0,0
685219700,0,0,0,0,0,1,0,0,0,0
685219703,0,0,0,0,0,1,0,0,0,0

In [60]:
#Invoices count per party
invoiceCount = df['PARTY_ID'].value_counts()
invoiceCount

233823853    36553
239555419    12938
398958555     7056
334245713     5799
240924264     5268
             ...
390447787        1
250610567        1
673996689        1
239734049        1
530068580        1
Name: PARTY_ID, Length: 4974, dtype: int64

In [62]:
#Sum of tax inclusive amount per party
tax_inc_sum = df.groupby(['PARTY_ID'])['TAXINCLUSIVEAMOUNT'].sum()
tax_inc_sum

PARTY_ID
233823838     19737595.0
233823840     51363034.6
233823841        15000.0
233823849    224959086.4
233823853    173913168.0
                ...
685196737      1353200.0
685208615       374051.0
685219699       161000.0
685219700       546100.0
685219703         4500.0
Name: TAXINCLUSIVEAMOUNT, Length: 4974, dtype: float64

In [63]:
#Sum of tax exclusive amount per party
tax_exc_sum = df.groupby(['PARTY_ID'])['TAXEXCLUSIVEAMOUNT'].sum()
tax_exc_sum

PARTY_ID
233823838    1.554141e+07
233823840    4.165002e+07
233823841    1.500000e+04
233823849    1.777274e+08
233823853    1.369479e+08
                 ...
685196737    1.353200e+06
685208615    2.945280e+05
685219699    1.267720e+05
685219700    4.300000e+05
685219703    4.500000e+03
Name: TAXEXCLUSIVEAMOUNT, Length: 4974, dtype: float64

In [117]:
D_F = pd.merge(tax_exc_sum.to_frame(), tax_inc_sum.to_frame(), left_index=True, right_index=True)

In [119]:
D_F = pd.merge(D_F, invoiceCount.to_frame(), left_index=True, right_index=True )

In [122]:
D_F = pd.merge(D_F, curr_merged, left_index=True, right_index=True )

In [126]:
D_F = pd.merge(D_F, min_inv_period.to_frame(), left_index=True, right_index=True )

In [127]:
D_F = pd.merge(D_F, max_inv_period.to_frame(), left_index=True, right_index=True )

In [124]:
D_F= D_F.rename(columns={'TAXEXCLUSIVEAMOUNT': 'SUM_TAXEXCLUSIVEAMOUNT', 'TAXINCLUSIVEAMOUNT':'SUM_TAXINCLUSIVEAMOUNT', 'PARTY_ID':'INVOICE_COUNT'})

In [129]:
D_F= D_F.rename(columns={'inv_period_x': 'MIN_INV_PERIOD','inv_period_y': 'MAX_INV_PERIOD' })

In [130]:
D_F

,SUM_TAXEXCLUSIVEAMOUNT,SUM_TAXINCLUSIVEAMOUNT,INVOICE_COUNT,CURRENCY_CAD,CURRENCY_CHF,CURRENCY_CNY,CURRENCY_EUR,CURRENCY_GBP,CURRENCY_HUF,CURRENCY_PLN,CURRENCY_RON,CURRENCY_SEK,CURRENCY_USD,MIN_INV_PERIOD,MAX_INV_PERIOD
233823838,1.554141e+07,19737595.0,29,0,0,0,0,0,1,0,0,0,0,-29,61
233823840,4.165002e+07,51363034.6,530,0,0,0,1,0,1,0,0,0,0,-29,56
233823841,1.500000e+04,15000.0,15,0,0,0,0,0,1,0,0,0,0,0,71
233823849,1.777274e+08,224959086.4,407,0,0,0,1,0,1,0,0,0,0,-50,45
233823853,1.369479e+08,173913168.0,36553,0,0,0,0,0,1,0,0,0,0,-228,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685196737,1.353200e+06,1353200.0,1,0,0,0,0,0,1,0,0,0,0,30,30
685208615,2.945280e+05,374051.0,2,0,0,0,0,0,1,0,0,0,0,8,8
685219699,1.267720e+05,161000.0,1,0,0,0,0,0,1,0,0,0,0,3,3
685219700,4.300000e+05,546100.0,5,0,0,0,0,0,1,0,0,0,0,4,5
685219703,4.500000e+03,4500.0,3,0,0,0,0,0,1,0,0,0,0,0,0

In [132]:
D_F.to_csv('invoices_v1.csv', index=True)

In [35]:
# df = df.drop(columns=['TAXINC_SUM'])

In [45]:
# dff['TAXINC_SUM'] = df.groupby(['PARTY_ID'])['TAXINCLUSIVEAMOUNT'].sum()

In [46]:
# dff

,Unnamed: 0,INVOICE_ID,TAXEXCLUSIVEAMOUNT,TAXINCLUSIVEAMOUNT,PAYABLEAMOUNT,TAXINC_SUM
PARTY_ID,,,,,,
233823838,193702,6499597442,1.554141e+07,19737595.0,19737595.0,19737595.0
233823840,178561634,287361083601,4.165002e+07,51363034.6,51363037.6,51363034.6
233823841,1118799,4349454229,1.500000e+04,15000.0,15000.0,15000.0
233823849,122252125,207283811557,1.777274e+08,224959086.4,224959086.4,224959086.4
233823853,11975852334,19201503305416,1.369479e+08,173913168.0,173913168.0,173913168.0
...,...,...,...,...,...,...
685196737,566627,685203815,1.353200e+06,1353200.0,1353200.0,1353200.0
685208615,1238682,1370425295,2.945280e+05,374051.0,374051.0,374051.0
685219699,527709,685227653,1.267720e+05,161000.0,161000.0,161000.0
685219700,2731596,3426108865,4.300000e+05,546100.0,546100.0,546100.0
685219703,1048089,2055656802,4.500000e+03,4500.0,4500.0,4500.0

,Unnamed: 0,INVOICE_ID,TAXEXCLUSIVEAMOUNT,TAXINCLUSIVEAMOUNT,PAYABLEAMOUNT,TAXINC_SUM
PARTY_ID,,,,,,
233823838,193702,6499597442,1.554141e+07,19737595.0,19737595.0,19737595.0
233823840,178561634,287361083601,4.165002e+07,51363034.6,51363037.6,51363034.6
233823841,1118799,4349454229,1.500000e+04,15000.0,15000.0,15000.0
233823849,122252125,207283811557,1.777274e+08,224959086.4,224959086.4,224959086.4
233823853,11975852334,19201503305416,1.369479e+08,173913168.0,173913168.0,173913168.0
...,...,...,...,...,...,...
685196737,566627,685203815,1.353200e+06,1353200.0,1353200.0,1353200.0
685208615,1238682,1370425295,2.945280e+05,374051.0,374051.0,374051.0
685219699,527709,685227653,1.267720e+05,161000.0,161000.0,161000.0
685219700,2731596,3426108865,4.300000e+05,546100.0,546100.0,546100.0
685219703,1048089,2055656802,4.500000e+03,4500.0,4500.0,4500.0

In [28]:
# c_2 = df.groupby(['PARTY_ID'])['TAXEXCLUSIVEAMOUNT'].sum()
# c_2

PARTY_ID
233823838    1.554141e+07
233823840    4.165002e+07
233823841    1.500000e+04
233823849    1.777274e+08
233823853    1.369479e+08
                 ...
685196737    1.353200e+06
685208615    2.945280e+05
685219699    1.267720e+05
685219700    4.300000e+05
685219703    4.500000e+03
Name: TAXEXCLUSIVEAMOUNT, Length: 4974, dtype: float64